<footer class="footer">
  <div class="center-image">
    <span><p>Cette page a été générée en utilisant
      a <a href="https://github.com/Deep-Symmetry/antora-ui">version
      modifiée</a> du thème par défaut d'Antora. The source code for this UI is
      licensed under the terms of the MPL-2.0 license.</p></span>
    <span>
      <a href="https://www.netlify.com">
        <img class="netlify-badge" src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg"/>
      </a>
    </span>
  </div>
</footer>
